.d-cards {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid red; */
}

.main-d-cards{
  /* border: 1px solid red; */
}
.d-cards{
  /* border: 1px solid greenyellow; */
  position: sticky;
  /* border: 1px solid red; */
}
.text-d-cards{
  /* border: 1px solid red; */
}
.card-display{
  /* position: absolute; */
  /* border: 1px solid red; */
}

.card {
    position:absolute;
    top: 0;
    left:10rem;
    max-width: 700px;
    max-height: 540px;
    border-radius: 14px 14px;
}
