.fifth-div{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #1d1f21;
  color: white;
}

/* *{border: 1px solid red;} */

.fifth-container{
  background-color: #1d1f21;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
}

.fifth-container-two{
  display: grid;
  grid-template-columns: 1fr;
}

.fifth-plane{
  max-width: 100px;
  width: 100%;
}

.logo-fifth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.svg-logo-fifth{
  max-width: 100px;
  width: 100%;
  height: auto;
  margin-bottom: -1.8rem;
}

.logo-text-fifth{
  text-transform: lowercase;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2rem;
  color: whitesmoke;
}

.digital-text-fifth{
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .3rem;
  font-weight: 500;
}

.fifth-mid{
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

.comece-hoje{
  /* font-size: 2rem; */
  text-transform: uppercase;
  margin-bottom:3.5rem;
}

.desconto{
  font-size: 1.9rem;
}

.desconto .off{
  text-decoration: line-through;
  font-style: normal;
}

.preco-parcelado{
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
}

.twenty-off{
  font-style: normal;
  font-weight: bold;
}

.fifth-left-side{
  margin: auto;
  text-align: center;
}

.check-icon{
  vertical-align: middle;
}

.fifth-title{
  font-size: 3rem;
  font-weight: 600;
  /* width: 100%; */
  margin: auto;
  margin-bottom: 2rem;
}

.fifth-text{
  font-size: 1.5rem;
  font-weight: 500;
  /* width: 80%; */
  margin: 1.5rem auto;
}

.quero-me-inscrever{
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 14px 14px;
  padding: 1rem;
  width: 14rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #1d1f21;
  background-color: orange;
}
.quero-me-inscrever:hover{
  cursor: pointer;
}

.inscrevendo-agora{
  font-weight: bold;
  font-size: 2.2rem;
}

.ul-lista{
  text-align: left;
  list-style-type: none;
}

.fifth-img{
  max-width: 1024px;
  width: 100%;
}

@media screen and (max-width:940px){
  .fifth-container{
    grid-template-columns: 1fr;
    width: 90%;
  }
  .logo-fifth{
    margin-top: -4rem;
  }
  .fifth-img{
    margin-top: 2rem;
  }
  .inscrevendo-agora{
    width: 90%;
    margin: 1rem auto;
    font-size: 2rem;
  }
  .ul-lista{
    font-size: 1.5rem;
  }
  li:not(:last-child) { 
    margin-bottom: 1rem;  
 }
}