*{
  /* border: 1px solid red; */
  font-family: 'Poppins', sans-serif;
}

.top-main-div{
  background-color: #1d1f21;
  padding-bottom: 102px;
}

.top-container{
  margin: 0 auto;
  margin-top: 4rem;
  width: 80%;
  
}

.top-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.svg-logo{
  max-width: 100px;
  width: 100%;
  height: auto;
  margin-bottom: -1.8rem;
}

.logo-text{
  text-transform: lowercase;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2rem;
  color: whitesmoke;
}

.digital-text{
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .3rem;
  font-weight: 500;
}

.top-body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .1rem;
}

.top-left-side{
  display: flex;
  flex-direction: column;
  color: #f16268;
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 4.5rem;
}

.top-left-side em{
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 2.5rem;
}

.top-left-side .btn-top {
  margin-top: 6.5rem;
  background-color: rgb(253, 145, 5);
  font-weight: 500;
}

.btn-top:hover{
  cursor: pointer;
}

.top-right-side{
 width: 100%;
 height: 100%;
}

.iframe{
  width: 100%;
  height: 100%;
  border-radius: 14px 14px;
}

.btn-top{
  font-size: 1.35rem;
  width: 300px;
  height: 60px;
  border-radius: 10px 10px;
}

@media screen and (max-width:940px){
  .top-body{
    grid-template-columns: 1fr;
  }
  .top-main-div{
    padding-bottom: 5px;
  }
  .btn-top{
    margin: auto;
    margin-bottom: 1.5rem;
  }
  .top-container{
    width: 95%;
  }
  .top-left-side{
    text-align: center;
    font-size: 4rem;
    line-height: 4.3rem;
  }
  .top-left-side em{
    font-size: 1.3rem;
    line-height: 2.5rem;
    margin-bottom: -4rem;
  }
  .top-logo{
    margin-bottom: 2rem;
  }
  .iframe{
    width: 100%;
    height: 250px;
  }
}