.third-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-top: 4rem;
  width: 85%;
  justify-items: center;
  align-items: center;
}

*{
  /* border: 1px solid red; */
}

.third-left-side{
  text-align: center;
  margin: auto;
}

.third-right-side{
  /* margin: ; */
  width: 100%;
  height: 90%;
}
.third-left-side p {
  
}

.titulo-para-quem{
  font-size: 3rem;
  width: 80%;
  line-height: 3.5rem;
  font-weight: bold;
  color: #f16268;
  margin: 2rem auto;
}

.para-quem-1, .para-quem-2{
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-top: -1rem;
  line-height: 2.5rem;
  width: 90%;
  margin: auto;
}

.para-quem-iframe{
  width: 100%;
  height: 100%;
  border-radius: 14px 14px;
}

@media screen and (max-width:940px){
  .third-container{
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    
  }

  .para-quem-iframe{
    width: 100%;
    height: 250px;
  }
}